.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100%;
}

.side-bar-col {
    width: 360px;
    margin: auto;
}

.max-height-600 {
    max-height: 600px;
    margin: auto;
}

.bg-dark {
    background-color: #0e1118;
}

.bg-light {
    background-color: whitesmoke;/* #121b2a; */
}

.extra-space {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
}

h4 {
    color: #666;
}

.flex-box {
    display: flex;
}

.line-style {
    border-left: 5px solid #ddd;
}

.title-holder {
    width: 100%;
    min-height: 60px;
    font-size: 22px;
    background-color: #202f46;
    color: #ec8d37;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bar-content {
    margin: 10px;
}

.no-padding {
    padding: 0px;
}

.main-bar-col {
    width: calc(100% - 360px);
}

/*div {*/
    /*border:1px solid black;*/
/*}*/